body {
    background-color: #d5e1ef;
}

.main {
    width: 270px;
    height: 420px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 20px;
    margin-top: 130px;
}

.image-qrcode {
    width: 18%;
    position: absolute;
    height: 35%;
    top: 22%;
    left: 41%;
    border-radius: 10px;
}

label {
    font-family:  'Manrope', sans-serif;
    color: #263044;
    font-weight: bold;
    font-size: 17px;
    position: absolute;
    top:61%;
    left:580px;
}

p {
    font-family:  'Manrope', sans-serif;
    color: #b6b8c1;
    position: absolute;
    top:71%;
    left:580px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
